<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Keyboard Shop</title>
    <link rel="icon" th:href="@{/img/favicon.ico}">
    <link rel="stylesheet" th:href="@{/css/output.css}"/>
</head>
<body class="bg-gray-100">
<nav class="p-6 flex items-center justify-between flex-wrap mx-auto bg-gray-800">
    <div class="flex items-center flex-shrink-0 text-white flex-1 space-x-4">
        <img th:src="@{/img/logo.png}" alt="Logo" class="h-16 w-16">
        <span class="font-semibold text-xl tracking-tight">Switch & Click</span>
    </div>
    <div class="block sm:hidden">
        <button id="menu-button"
                class="flex items-center px-3 py-2 border rounded text-gray-200 border-gray-400 hover:text-white hover:border-white">
            <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>
                Menu</title>
                <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/>
            </svg>
        </button>
    </div>
    <div id="menu-links" class="w-full hidden sm:flex sm:items-center sm:w-auto">
        <div class="text-md sm:flex-grow sm:space-x-3">
            <a th:href="@{/}"
               class="block mt-4 sm:inline-block sm:mt-0 text-gray-200 hover:text-white hover:underline">
                Home
            </a>
            <a th:href="@{/shop}"
               class="block mt-4 sm:inline-block sm:mt-0 text-gray-200 hover:text-white hover:underline">
                Shop
            </a>
            <a th:href="@{/orders}"
               class="block mt-4 sm:inline-block sm:mt-0 text-gray-200 hover:text-white hover:underline">
                Orders
            </a>
            <a th:href="@{/cart}"
               class="block mt-4 sm:inline-block sm:mt-0 text-gray-200 hover:text-white hover:underline">
                Cart
                <span th:if="${itemCount}" class="inline-block rounded-full bg-red-500 text-white text-xs ml-1 px-2 py-1"
                      th:text="${itemCount}"></span>

            </a>
            <a th:if="${user == null or user.id == null}" th:href="@{/user/login}"
               class="block mt-4 sm:inline-block sm:mt-0 text-gray-200 hover:text-white hover:underline">
                Login
            </a>
            <a th:if="${user != null and user.id !=null}" th:href="@{/user/logout}"
               class="block mt-4 sm:inline-block sm:mt-0 text-gray-200 hover:text-white hover:underline">
                Logout (<span th:text="${user.username}"></span>)
            </a>
        </div>
    </div>
</nav>
<div th:insert="~{this :: content}"></div>
<footer class="bg-gray-800 text-white p-6 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4">
    <div>
        <h3 class="text-lg mb-2 text-blue-500 underline">Browse Our Page</h3>
        <ul>
            <li><a href="#" class="text-sm hover:underline">Home</a></li>
            <li><a href="#" class="text-sm hover:underline">Shop</a></li>
            <li><a href="#" class="text-sm hover:underline">Orders</a></li>
        </ul>
    </div>
    <div>
        <h3 class="text-lg mb-2 text-blue-500 underline">Need Help?</h3>
        <ul>
            <li><a href="#" class="text-sm hover:underline">Shipping Rates & Policies</a></li>
            <li><a href="#" class="text-sm hover:underline">Returns Are Easy</a></li>
            <li><a href="#" class="text-sm hover:underline">Customer Service</a></li>
        </ul>
    </div>
    <div>
        <h3 class="text-lg mb-2 text-blue-500 underline">Get to Know Us</h3>
        <ul>
            <li><a href="#" class="text-sm hover:underline">About Us</a></li>
            <li><a href="#" class="text-sm hover:underline">Contact Info</a></li>
            <li><a href="#" class="text-sm hover:underline">Leave a Comment</a></li>
        </ul>
    </div>
    <div>
        <h3 class="text-lg mb-2 text-blue-500 underline">Sell Your Keyboard Products</h3>
        <ul>
            <li><a href="#" class="text-sm hover:underline">Platform Usage</a></li>
            <li><a href="#" class="text-sm hover:underline">Commission</a></li>
            <li><a href="#" class="text-sm hover:underline">System API Integration</a></li>
        </ul>
    </div>
    <div class="col-span-full text-center border-t border-gray-700 mt-4 pt-4">
        &copy; 2024 Keyboard Shop. All rights reserved.
    </div>
</footer>
<script>
    document.getElementById('menu-button').addEventListener('click', function () {
        const menuLinks = document.getElementById('menu-links');
        if (menuLinks.classList.contains('hidden')) {
            menuLinks.classList.remove('hidden');
            menuLinks.classList.add('flex');
        } else {
            menuLinks.classList.add('hidden');
            menuLinks.classList.remove('flex');
        }
    });
</script>
</body>
</html>